<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <style>
table, td, th {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  height: 50px;
   width: 50px;
  text-align: center;
  vertical-align: middle;
}
</style>

</head>

<body>
    <table border="1" class="table">
      <tr>
        <h3> From ApiUrl</h3>
          <tr>
        <th>runnerId</th>  <th  colspan="3" scope="colgroup" align = "right" style="padding-right: 84px;">BACK</th> <th colspan="3" scope="colgroup" align = "left"style="padding-left: 70px">LAY</th>
        </tr>

          <% for (var i = 0; i < quotation[0].runners.length; i++) { %>
            <tr>
            <td align="center"><%= quotation[0].runners[i].selectionId %></td>

          <% for (var j = 0; j < quotation[0].runners[i].back.length; j++) { %>

         <td align="center"><%= (quotation[0].runners[i].back[j].price)?quotation[0].runners[i].back[j].price : 0  %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
          <% } %>
          <% for (var j = 0; j < quotation[0].runners[i].back.length; j++) { %>
        <td align="center">
          <%= (quotation[0].runners[i].lay[j].price)?quotation[0].runners[i].lay[j].price : 0 %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
          <% } %>
        </tr>
          <% } %>
    </table>
    <br /><br />
    <table border="1" class="table">
      <tr>
        <!-- <h3>BackLay Price Form Redis </h3> -->
          <tr>
          <th>runnerId</th>  <th  colspan="3" scope="colgroup" align = "right" style="padding-right: 84px;">BACK</th> <th colspan="3" scope="colgroup" align = "left"style="padding-left: 70px">LAY</th>
        </tr>

            <% for (var i = 0; i < quotation1[0].runners.length; i++) { %>
            <tr>
            <td align="center"><%= quotation1[0].runners[i].selectionId %></td>

          <% for (var j = 0; j < quotation1[0].runners[i].ex.availableToBack.length; j++) { %>

         <td align="center"><%= (quotation1[0].runners[i].ex.availableToBack[j].price)?quotation1[0].runners[i].ex.availableToBack[j].price : 0  %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
          <% } %>
          <% for (var j = 0; j < quotation1[0].runners[i].ex.availableToLay.length; j++) { %>
        <td align="center">
          <%= (quotation1[0].runners[i].ex.availableToLay[j].price)?quotation1[0].runners[i].ex.availableToLay[j].price : 0 %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
          <% } %>
        </tr>
          <% } %>
    </table>
</body>

</html>
